[Unit]
Description=Enables SteamOS autologin
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/steamos-autologin

[Install]
WantedBy=multi-user.target